---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

{# partial example #}
{% include "partials/_header.html" %}


<main class="main-content">
  <section class="sect about" id="about">
      <div class="particle-container">
          <div class="particle blue"></div>
          <div class="particle blue"></div>
          <div class="particle red"></div>
          <div class="particle blue"></div>
      </div>
    <div class="container-small">
      <h2 class="sect-subtitle">О НАС</h2>
      <h3 class="sect-title">НЕМНОГО РАССКАЖЕМ О НАШЕЙ КОМПАНИИ</h3>
      <div class="about-block">
        <p class="sect-text">
          Наша специализация — доставка и оформление грузов из Европы, Китая, Юго-Восточной Азии, США и других регионов
          в
          Россию.
        </p>
        <p class="sect-text">
          Компания «Корпоративная Логистика» предлагает полный комплекс услуг в сфере международных грузоперевозок. Мы
          доставляем грузы
          со всего мира в Россию «от двери до двери», включая собственно международную перевозку, таможенное
          оформление,
          сертификацию,
          страхование, доставку до склада клиента.
        </p>
        <p class="sect-text">
          При этом мы несём полную ответственность за состояние и сроки доставки грузов, а также контролируем каждый
          этап
          транспортировки.
        </p>
        <!-- <div class="sect-btn">
          <div class="about-download">
            <a class="download-btn" href="#">
              Скачать файл с реквизитами компании
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <section class="sect why">
    <div class="particle-container">
        <div class="particle blue"></div>
        <div class="particle blue"></div>
        <div class="particle blue"></div>
        <div class="particle blue"></div>
    </div>
    <div class="container-small">
      <h2 class="sect-subtitle">НАШИ ДОСТОИНСТВА</h2>
      <h3 class="sect-title">Почему нужно сотрудничать с нами?</h3>
      <div class="why-block">
        <div class="why-col">
          <div class="why-item">
            <b class="why-item-title">НАДЕЖНОСТЬ</b>
            <span class="why-item-subtitle">01</span>
            <p class="why-item-text">для нас превыше всего</p>
          </div>
        </div>
        <div class="why-col">
          <div class="why-item">
            <b class="why-item-title">ТОЧНО В СРОК</b>
            <span class="why-item-subtitle">02</span>
            <p class="why-item-text">мы выполняем свою работу точно в указанные сроки</p>
          </div>
        </div>
        <div class="why-col">
          <div class="why-item">
            <b class="why-item-title">МЫ ЭКОНОМИМ</b>
            <span class="why-item-subtitle">03</span>
            <p class="why-item-text">Ваше время и Ваши деньги</p>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="why-col">
          <div class="why-item">
            <b class="why-item-title">21 ГОД</b>
            <span class="why-item-subtitle">04</span>
            <p class="why-item-text">опыта успешной работыв сфере доставки грузов</p>
          </div>
        </div>
        <div class="why-col">
          <div class="why-item">
            <b class="why-item-title">с нами</b>
            <span class="why-item-subtitle">05</span>
            <p class="why-item-text">растут компании. Нашими постоянными клиентами стали десятки уже успешных фирм</p>
          </div>
        </div>
        <div class="why-col">
          <div class="why-item">
            <b class="why-item-title">профессиональный</b>
            <span class="why-item-subtitle">06</span>
            <p class="why-item-text">подход на всех этапах нашей работы</p>
          </div>
        </div>
      </div>
      <p class="sect-text why-text">
        Наша компания приятно удивит Вас высоким уровнем обслуживания, профессиональным подходом и качественной
        работой!
      </p>
    </div>
  </section>

  <section class="sect features">
    <div class="container-small">
      <h2 class="sect-subtitle">ПОЧЕМУ НУЖНО РАБОТАТЬ С НАМИ</h2>
      <h3 class="sect-title">ОСОБЕННОСТИ И ПРЕИМУЩЕСТВА НАШЕЙ КОМПАНИИ
        <span class="features-title-help">при доставке сборных грузов и контейнерных грузоперевозок:</span>
      </h3>
      <div class="features-block">
        <div class="features-col">
          <div class="features-item">
            <span class="features-item-title">01</span>
            <p class="features-item-text">
              Доставка грузов со склада поставщика в любой стране мира до любой точки в России (доставка на условиях
              «от двери до двери»);
            </p>
          </div>
        </div>
        <div class="features-col">
          <div class="features-item">
            <span class="features-item-title">02</span>
            <p class="features-item-text">
              Услуга Торговое агентирование, включающая не только доставку и таможенное оформление, но и закупку
              товара; </p>
          </div>
        </div>
        <div class="features-col features-col-4">
          <div class="features-item">
            <span class="features-item-title">03</span>
            <p class="features-item-text">
              Подбор и организация транспорта не только для автомобильных и морских контейнерных перевозок, но и для
              доставки грузов воздушными
              и мультимодальными маршрутами; </p>
          </div>
        </div>
        <div class="features-col features-col-4">
          <div class="features-item">
            <span class="features-item-title">04</span>
            <p class="features-item-text">
              Подготовка для клиентов полного комплекта документов, в том числе при оказании таможенных услуг,
              организации таможенного
              оформления грузов и сертификации; Гарантия отсутствия рисков за счет страхования грузов;
            </p>
          </div>
        </div>
        <div class="features-col">
          <div class="features-item">
            <span class="features-item-title">05</span>
            <p class="features-item-text">
              Все виды услуг по импортному и экспортному таможенному оформлению; Гарантия соблюдения сроков доставки;
            </p>
          </div>
        </div>
        <div class="features-col">
          <div class="features-item">
            <span class="features-item-title">06</span>
            <p class="features-item-text">
              Высокий уровень сервиса в соответствии с международными стандартами качества в области международных
              грузоперевозок; </p>
          </div>
        </div>
        <div class="features-col">
          <div class="features-item">
            <span class="features-item-title">07</span>
            <p class="features-item-text">
              Централизованное информирование о местонахождении груза, отправляемое через день.Транспортировка грузов
              от 10 кг; </p>
          </div>
        </div>
        <div class="features-col features-col-4">
          <div class="features-item">
            <span class="features-item-title">08</span>
            <p class="features-item-text">
              Хранение и обработка грузов в процессе транспортировки на терминалах компании в Европе, Юго-Восточной
              Азии и Москве; Оптимальная
              ценовая политика для каждого клиента и прозрачное ценообразование; </p>
          </div>
        </div>
        <div class="features-col">
          <div class="features-item">
            <span class="features-item-title">09</span>
            <p class="features-item-text">
              Международные грузоперевозки практически любого класса опасности и негабаритных грузов; </p>
          </div>
        </div>
      </div>
      <div class="sect-btn features-btn">
        <a href="#order-popup" class="btn btn-primary open-popup-link">заказать доставку</a>
      </div>
    </div>
  </section>

  <section class="sect advantages">
    <div class="container-small">
      <h2 class="sect-subtitle">выгоды от работы с нами</h2>
      <h3 class="sect-title">Мы реализуем все логистические процессы, включая:</h3>
      <div class="advantages-block">
        <div class="advantages-col">
          <div class="advantages-item">
            <div class="advantages-item-icon">
              {{mixins.icon('adv-car')}}
            </div>
            <p class="advantages-item-text">Доставку сборных грузов (грузоперевозки сборных грузов)</p>
          </div>
        </div>
        <div class="advantages-col">
          <div class="advantages-item">
            <div class="advantages-item-icon">
              {{mixins.icon('adv-world')}}
            </div>
            <p class="advantages-item-text">Международные грузоперевозки,
              а также доставку международных
              грузов по России.</p>
          </div>
        </div>
        <div class="advantages-col">
          <div class="advantages-item">
            <div class="advantages-item-icon">
              {{mixins.icon('adv-ship')}}
            </div>
            <p class="advantages-item-text">Перевозки генеральных партий
              (контейнерные грузоперевозки);</p>
          </div>
        </div>
        <div class="advantages-col">
          <div class="advantages-item">
            <div class="advantages-item-icon">
              {{mixins.icon('adv-doc')}}
            </div>
            <p class="advantages-item-text">Оформление всех необходимых
              документов, в т.ч. таможенное
              оформление грузов
              и оформление сертификатов;</p>
          </div>
        </div>
        <div class="advantages-col">
          <div class="advantages-item">
            <div class="advantages-item-icon">
              {{mixins.icon('adv-shild')}}
            </div>
            <p class="advantages-item-text">Страхование перевозок</p>
          </div>
        </div>
        <div class="advantages-col">
          <div class="advantages-item">
            <div class="advantages-item-icon">
              {{mixins.icon('adv-scope')}}
            </div>
            <p class="advantages-item-text">Контроль международных грузоперевозок
              на всех участках движения груза.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="sect services">
      <div class="particle-container">
          <div class="particle blue"></div>
          <div class="particle blue"></div>
          <div class="particle blue"></div>
          <div class="particle blue"></div>
      </div>
    <div class="container-small">
      
      <h2 class="sect-subtitle">спектр услуг</h2>
      <h3 class="sect-title">Мы предоставляем следующие услуги:</h3>
      <div class="services-block">
       <div class="services-col services-col-6">
          <div class="services-slider-slides">
            {% for i in range(1, 12) -%}
            <div class="services-slider-slide">
              <div class="services-slide-content">
                <div class="services-slide-text">
                  <p class="sect-text">
                  Компания Корпоративная Логистика – это не только обширная география автомобильных перевозок, 
                      это многолетний опыт работы в сфере транспортировки грузов, высокое качество 
                      сервиса и гарантия надежности.
                  </p>
                  <p class="sect-text">
                      Простота и удобство международных автомобильных перевозок обусловлены многими факторами. 
                      В первую очередь, это возможность подобрать транспорт, максимально соответствующий
                       по грузовместимости, грузоподъемности 
                      и с учетом особенностей перевозимого груза. 
                      Кроме того, международные автоперевозки – 
                      это прямая, надежная и безопасная доставка 
                      грузов от дверей отправителя до дверей получателя 
                      в минимально возможные сроки и без 
                      необходимости промежуточных перегрузов.
                  </p>
                  <a class="services-slide-link" href="item.html">Узнать подробнее {{mixins.icon('arrow')}}</a>
                </div>
                <div class="services-slide-img">
                  <img src="img/services.jpg" width="417" height="458" alt="">
                </div>
                <div class="services-slider-arrows">
                    <div class="services-slider-prev">{{mixins.icon('arrow')}}</div>
                    <div class="services-slider-next">{{mixins.icon('arrow')}}</div>
                </div>
              </div>
            </div>
            {%- endfor %}
          </div>
       </div>
       <div class="services-col services-col-4">
          <b class="services-list-title">Услуги:</b>
          {% set 
            list = [
              {
                text: "Автомобильные грузовые перевозки"
              },
              {
                text: "ДОСТАВКА СБОРНЫХ И МАЛЫХ ГРУЗОВ"
              },
              {
                text: "Авиаперевозки"
              },
              {
                text: "МУЛЬТИМОДАЛЬНЫЕ ПЕРЕВОЗКИ ГРУЗОВ"
              },
              {
                text: "МОРСКИЕ КОНТЕЙНЕРНЫЕ ПЕРЕВОЗКИ"
              },
              {
                text: "МЕЖДУНАРОДНЫЕ ГРУЗОПЕРЕВОЗКИ"
              },
              {
                text: "ДОСТАВКА ГРУЗОВ ИЗ ЕВРОПЫ"
              },
              {
                text: "услуги по содействию в таможенном оформлении 
                грузов и всех сопутствующих документов 
                для прохождения необходимых процедур."
              },
              {
                text: "поставки оборудования, аксессуаров и запчастей 
                из стран Азии непосредственно со складов 
                заводов-изготовителей."
              },
              {
                text: "Доставка грузов из США"
              },
              {
                text: "Доставка грузов из КИТАЯ"
              }
            ]
          %}
          <ul class="services-list">
            {% for i in list %}
            <li class="services-list-item">
                <a href="item.html" class="services-list-link" data-slide={{loop.index - 1 }}>
                  <span class="services-list-text">{{ i.text }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
       </div>
      </div>
      <div class="sect-btn services-btn">
          <a href="#order-popup" class="btn btn-primary open-popup-link">заказать доставку</a>
          <p class="certification-text">
          или звоните +7 (495) 792-75-17<br />
          и наши специалисты
          проконсультируют Вас
        </p>
      </div>
    </div>
  </section>

  <section class="sect certification">
      <div class="particle-container">
          <div class="particle blue"></div>
          <div class="particle blue"></div>
          <div class="particle blue"></div>
      </div>
    <div class="container-small">
      <h2 class="sect-subtitle">у нас все безопасно</h2>
      <h3 class="sect-title">Сертификация грузов</h3>
      <div class="certification-block">
        <div class="certification-col-4">
          <p class="sect-text">
            Согласно законодательству Российской Федерации, при ввозе на территорию нашей страны ряд товаров подлежит
            обязательной сертификации. Она включает в себя предоставление в таможенные органы сертификатов
            соответствия, гигиенических заключений, отказных писем, лицензий на ввоз, классификационных решений таможен
            и других документов.
          </p>
          <p class="sect-text">
              С целью экономии Вашего времени и средств наших клиентов мы оказываем комплекс услуг по оформлению всех требуемых сертификатов, которые предоставляются на таможню. Стоимость оформления зависит от типа требуемого сертификата или лицензии и сложности его/ее изготовления.
              Подробнее ознакомиться с вопросами, касающимися сертификации товаров, Вы можете, рассказав о товаре нашему. 
          </p>
        </div>
        <div class="certification-col-5">
          <div class="certification-img">
            <img src="img/sertification-bg.png" alt="" size="100vw">
          </div>
        </div>

      </div>
      <div class="sect-btn certification-btn">
          <a href="#order-popup" class="btn btn-primary open-popup-link">заказать доставку</a>
          <p class="certification-text">
          или звоните +7 (495) 792-75-17<br />
          и наши специалисты
          проконсультируют Вас
        </p>
      </div>
    </div>
  </section>

   <section class="sect  feedbacks">
      <div class="particle-container">
          <div class="particle blue"></div>
          <div class="particle blue"></div>
      </div>
    <div class="container-small">
      <h2 class="sect-subtitle">узнайте что о нас говорят</h2>
      <h3 class="sect-title">отзывы наших клиентов</h3>
      <div class="slider">
        <div class="slider-arrows">
          <div class="slider-count">
              <span class="slider-count-current">01</span>
              <span class="slider-count-all">/00</span>
          </div>
          <div class="slider-prev">{{mixins.icon('arrow')}}</div>
          <div class="slider-next">{{mixins.icon('arrow')}}</div>
        </div>
        <div class="slider-slides">

            {% for i in range(1, 5) -%}
              <div class="slider-slide">
                  <div class="slide-content">
                    <div class="slide-user">
                      <img class="slide-img" src="img/avatar.jpg" alt="" width="68" height="68">
                      <span class="slide-username">Артем Витальевичь</span>
                      <span class="slide-usertitle">директор ооо “Газпром”</span>
                    </div>
                    <p class="slide-text">
                      Согласно законодательству Российской Федерации, при ввозе на территорию
                      нашей страны ряд товаров подлежит обязательной сертификации. Она включает
                      в себя предоставление в таможенные органы сертификатов соответствия, гигиенических
                      заключений, отказных писем, лицензий на ввоз, классификационных решений таможен и других документов.
                    </p>
                  </div>
                </div>
            {%- endfor %}

        </div>
        <div class="slider-dots">
        </div>
      </div>
    </div>
  </section> 

</main>

{% include "partials/_footer.html" %}

{% endblock %}
