<header class="main-header">
    <div class="particle-container">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
    </div>
    <div class="main-header-slider">
        <div class="main-header-slide" style="background-image: url('img/header-bg.jpg')"></div>
        <div class="main-header-slide" style="background-image: url('img/header-bg.jpg')"></div>
        <div class="main-header-slide" style="background-image: url('img/header-bg.jpg')"></div>
    </div>
    <div class="container">
        <div class="header-block">
            <div class="menu-btn">
               {{mixins.icon('menu')}}
            </div>
            <nav class="main-nav">
                <div class="nav-logo">
                    <div class="logo">
                        <img class="logo-img" width="25" height="22"  src="img/logo.png" alt="корпоративная логистика">
                        <span class="logo-text">корпоративная логистика</span>
                    </div>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link active" href="index.html">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="services.html">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacts.html">Контакты</a>
                    </li>
                </ul>
                <div class="nav-social">
                    <ul class="nav-social-list">
                        <li class="nav-social-item"><a class="nav-social-link" href="#">facebook</a></li>
                        <li class="nav-social-item"><a class="nav-social-link" href="#">vkontakte</a></li>
                        <li class="nav-social-item"><a class="nav-social-link" href="#">instagram</a></li>
                    </ul>
                </div>
            </nav>
            <div class="main-logo">
                <div class="logo">
                    <img class="logo-img" width="25" height="22"  src="img/logo.png" alt="корпоративная логистика">
                    <span class="logo-text">корпоративная логистика</span>
                </div>
            </div>
            <div class="header-btn">
                <a href="#callback-popup" class="btn call-btn open-popup-link">Перезвоните мне</a>
            </div>
            <div class="header-map">
                <img src="img/map.png" alt="">
            </div>
            <div class="hero">
                <h1 class="main-title">
                    Корпоративная логистика - 
                </h1>
                <p class="hero-text">
                    это доставка и оформление грузов из Европы, Китая, 
                    Юго-Восточной Азии, США и других регионов в Россию.
                </p>
                <a href="#order-popup" class="btn btn-primary hero-btn open-popup-link">заказать доставку</a>
            </div>
            <div class="header-next">
                <button class="btn btn-next">смотреть дальше</button>
            </div>
            <div class="header-social">
                <ul class="header-social-list">
                    <li class="header-social-item">Тел: +7 495 987 65 432</li>
                    <li class="header-social-item"><a class="header-social-link" href="#">facebook</a></li>
                    <li class="header-social-item"><a class="header-social-link" href="#">vkontakte</a></li>
                    <li class="header-social-item"><a class="header-social-link" href="#">instagram</a></li>
                </ul>
            </div> 
        </div>
    </div>
</header>
