<header class="page-header" style="background-image: url(img/services-header.jpg)">
    <div class="container">
        <div class="header-block">
            <div class="menu-btn">
                {{ mixins.icon('menu') }}
            </div>
            <nav class="main-nav">
                <div class="nav-logo">
                    <div class="logo">
                        <img class="logo-img" width="25" height="22"  src="img/logo.png" alt="корпоративная логистика">
                        <span class="logo-text">корпоративная логистика</span>
                    </div>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="services">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacts.html">Контакты</a>
                    </li>
                </ul>
                <div class="nav-social">
                    <ul class="nav-social-list">
                        <li class="nav-social-item"><a class="nav-social-link" href="#">facebook</a></li>
                        <li class="nav-social-item"><a class="nav-social-link" href="#">vkontakte</a></li>
                        <li class="nav-social-item"><a class="nav-social-link" href="#">instagram</a></li>
                    </ul>
                </div>
            </nav>
            <div class="main-logo">
                <div class="logo">
                    <img class="logo-img" width="25" height="22"  src="img/logo.png" alt="корпоративная логистика">
                    <span class="logo-text">корпоративная логистика</span>
                </div>
            </div>
            <div class="page-title">
                <h1 class="page-title-text">наши услуги</h1>
            </div>
            <div class="header-btn">
                <a href="#callback-popup" class="btn call-btn open-popup-link">Перезвоните мне</a>
            </div>
        </div>
    </div>
</header>
