.icon-adv-car {
  width: 1.6em;
  height: 1em;
  fill: #0D87E5;
}
.icon-adv-doc {
  width: 0.91em;
  height: 1em;
  fill: #0181E4;
}
.icon-adv-scope {
  width: 1em;
  height: 1em;
  fill: #0181E4;
}
.icon-adv-shild {
  width: 0.89em;
  height: 1em;
  fill: #0181E4;
}
.icon-adv-ship {
  width: 1.33em;
  height: 1em;
  fill: initial;
}
.icon-adv-world {
  width: 1em;
  height: 1em;
  fill: #0181E4;
}
.icon-arrow {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.31em;
  height: 1em;
  fill: initial;
}
.icon-menu {
  width: 1.56em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-point {
  width: 0.79em;
  height: 1em;
  fill: #0A0A0A;
}
